<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="css/modules.css">

		<title>SatPointer</title>
	</head>

	<body>
		<div id="loading" class="loading"></div>

		<div id="app" class="app">
			<div v-if="error != null" class="error">
				<p>{{ error }}</p>
			</div>

			<div v-else v-if="loaded">
				<h1>SatPointer</h1>

				<div class="sats">
					<select id="sat-select" name="sat-select">
						<option>Select a satellite from this list...</option>
						<option v-for="sat in satellites">GEO - {{ sat.name }} - Longitude {{ sat.longitude }}°</option>
					</select>
				</div>

				<div v-if="selectedSat !== null" class="gps">
					<p v-if="localization == null">Waiting for GPS data...</p>

					<div v-else class="gps-loc">
						<p>Your current position</p>

						<div class="gps-loc-lat">
							<p class="panel-header gps-loc-head">Latitude</p>
							<p class="panel-body gps-loc-val">{{ localization.lat }}°</p>
						</div>

						<div class="gps-loc-lng">
							<p class="panel-header gps-loc-head">Longitude</p>
							<p class="panel-body gps-loc-val">{{ localization.lng }}°</p>
						</div>
					</div>
				</div>

				<div v-if="localization !== null" class="results">
					<p v-if="result == null">Loading...</p>

					<div v-else class="results-data">
						<p>Local satellite coordinates</p>

						<div class="results-data-az">
							<p class="panel-header results-data-head">Azimuth</p>
							<p class="panel-body results-data-val">{{ result.az }}°</p>
						</div>

						<div class="results-data-el">
							<p class="panel-header results-data-head">Elevation</p>
							<p class="panel-body results-data-val">{{ result.el }}°</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/lib/vue.min.js"></script>

		<script src="js/utils.js"></script>
		<script src="js/math.js"></script>
		<script src="js/satellites.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
