/*
 * Base elements styling
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	color: white;
	background: #222222;
	font-family: sans-serif;
}

/*
 * Positioning classes
 */
.left {
	float: left;
}

.right {
	float: right;
}

.cb {
	clear: both;
}

.m-top-lg {
	margin-top: 40px;
}

.m-top-md {
	margin-top: 25px;
}

.m-top-sm {
	margin-top: 10px;
}
